# Backend URL (HTTPS domeniga)
ADMIN_ONEDU_URL=https://admin.onedu.uz

JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzcwMTk1NTY5LCJpYXQiOjE3NzAxMDkxNjksImp0aSI6ImY0ZTNmNTBjMTk4ODRiMjdiZmQ4ZWZhMTM3ZWNjZTk0IiwidXNlcl9pZCI6ImRiZTRmNjBhLWQ4YWItNGVmOS04YTQwLTY5NGE1NGE2NDcyYSJ9.NEpideNSznJ5DvqTuISZ9hoQ2EPkQ8eeutk3z3Khs8c

# Xabar yuboruvchining UUID (Admin yoki Student)
SENDER_USER_ID=dbe4f60a-d8ab-4ef9-8a40-694a54a6472a

# Xabar qabul qiluvchining UUID (Admin yoki Student)
RECEIVER_USER_ID=dbe4f60a-d8ab-4ef9-8a40-694a54a6472a
